.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483A;
}

.heading-3 {
  text-transform: uppercase;
  color: #c69963;
  font-size: 1.6rem;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.m1 {
  margin: 0.5rem;
}
.m2 {
  margin: 1rem;
}
.m3 {
  margin: 1.5rem;
}
.m4 {
  margin: 2rem;
}
.m5 {
  margin: 2.5rem;
}
.m6 {
  margin: 3rem;
}
.m7 {
  margin: 3.5rem;
}
.m8 {
  margin: 4rem;
}
.m9 {
  margin: 4.5rem;
}
.m10 {
  margin: 5rem;
}
.m11 {
  margin: 5.5rem;
}
.m12 {
  margin: 6rem;
}
.mt1 {
  margin-top: 0.5rem;
}
.mt2 {
  margin-top: 1rem;
}
.mt3 {
  margin-top: 1.5rem;
}
.mt4 {
  margin-top: 2rem;
}
.mt5 {
  margin-top: 2.5rem;
}
.mt6 {
  margin-top: 3rem;
}
.mt7 {
  margin-top: 3.5rem;
}
.mt8 {
  margin-top: 4rem;
}
.mt9 {
  margin-top: 4.5rem;
}
.mt10 {
  margin-top: 5rem;
}
.mt11 {
  margin-top: 5.5rem;
}
.mt12 {
  margin-top: 6rem;
}
.mr1 {
  margin-right: 0.5rem;
}
.mr2 {
  margin-right: 1rem;
}
.mr3 {
  margin-right: 1.5rem;
}
.mr4 {
  margin-right: 2rem;
}
.mr5 {
  margin-right: 2.5rem;
}
.mr6 {
  margin-right: 3rem;
}
.mr7 {
  margin-right: 3.5rem;
}
.mr8 {
  margin-right: 4rem;
}
.mr9 {
  margin-right: 4.5rem;
}
.mr10 {
  margin-right: 5rem;
}
.mr11 {
  margin-right: 5.5rem;
}
.mr12 {
  margin-right: 6rem;
}
.mb1 {
  margin-bottom: 0.5rem;
}
.mb2 {
  margin-bottom: 1rem;
}
.mb3 {
  margin-bottom: 1.5rem;
}
.mb4 {
  margin-bottom: 2rem;
}
.mb5 {
  margin-bottom: 2.5rem;
}
.mb6 {
  margin-bottom: 3rem;
}
.mb7 {
  margin-bottom: 3.5rem;
}
.mb8 {
  margin-bottom: 4rem;
}
.mb9 {
  margin-bottom: 4.5rem;
}
.mb10 {
  margin-bottom: 5rem;
}
.mb11 {
  margin-bottom: 5.5rem;
}
.mb12 {
  margin-bottom: 6rem;
}
.ml1 {
  margin-left: 0.5rem;
}
.ml2 {
  margin-left: 1rem;
}
.ml3 {
  margin-left: 1.5rem;
}
.ml4 {
  margin-left: 2rem;
}
.ml5 {
  margin-left: 2.5rem;
}
.ml6 {
  margin-left: 3rem;
}
.ml7 {
  margin-left: 3.5rem;
}
.ml8 {
  margin-left: 4rem;
}
.ml9 {
  margin-left: 4.5rem;
}
.ml10 {
  margin-left: 5rem;
}
.ml11 {
  margin-left: 5.5rem;
}
.ml12 {
  margin-left: 6rem;
}

.p1 {
  margin: 0.5rem;
}
.p2 {
  padding: 1rem;
}
.p3 {
  padding: 1.5rem;
}
.p4 {
  padding: 2rem;
}
.p5 {
  padding: 2.5rem;
}
.p6 {
  padding: 3rem;
}
.p7 {
  padding: 3.5rem;
}
.p8 {
  padding: 4rem;
}
.p9 {
  padding: 4.5rem;
}
.p10 {
  padding: 5rem;
}
.p11 {
  padding: 5.5rem;
}
.p12 {
  padding: 6rem;
}
.pt1 {
  padding-top: 0.5rem;
}
.pt2 {
  padding-top: 1rem;
}
.pt3 {
  padding-top: 1.5rem;
}
.pt4 {
  padding-top: 2rem;
}
.pt5 {
  padding-top: 2.5rem;
}
.pt6 {
  padding-top: 3rem;
}
.pt7 {
  padding-top: 3.5rem;
}
.pt8 {
  padding-top: 4rem;
}
.pt9 {
  padding-top: 4.5rem;
}
.pt10 {
  padding-top: 5rem;
}
.pt11 {
  padding-top: 5.5rem;
}
.pt12 {
  padding-top: 6rem;
}
.pr1 {
  padding-right: 0.5rem;
}
.pr2 {
  padding-right: 1rem;
}
.pr3 {
  padding-right: 1.5rem;
}
.pr4 {
  padding-right: 2rem;
}
.pr5 {
  padding-right: 2.5rem;
}
.pr6 {
  padding-right: 3rem;
}
.pr7 {
  padding-right: 3.5rem;
}
.pr8 {
  padding-right: 4rem;
}
.pr9 {
  padding-right: 4.5rem;
}
.pr10 {
  padding-right: 5rem;
}
.pr11 {
  padding-right: 5.5rem;
}
.pr12 {
  padding-right: 6rem;
}
.pb1 {
  padding-bottom: 0.5rem;
}
.pb2 {
  padding-bottom: 1rem;
}
.pb3 {
  padding-bottom: 1.5rem;
}
.pb4 {
  padding-bottom: 2rem;
}
.pb5 {
  padding-bottom: 2.5rem;
}
.pb6 {
  padding-bottom: 3rem;
}
.pb7 {
  padding-bottom: 3.5rem;
}
.pb8 {
  padding-bottom: 4rem;
}
.pb9 {
  padding-bottom: 4.5rem;
}
.pb10 {
  padding-bottom: 5rem;
}
.pb11 {
  padding-bottom: 5.5rem;
}
.pb12 {
  padding-bottom: 6rem;
}
.pl1 {
  padding-left: 0.5rem;
}
.pl2 {
  padding-left: 1rem;
}
.pl3 {
  padding-left: 1.5rem;
}
.pl4 {
  padding-left: 2rem;
}
.pl5 {
  padding-left: 2.5rem;
}
.pl6 {
  padding-left: 3rem;
}
.pl7 {
  padding-left: 3.5rem;
}
.pl8 {
  padding-left: 4rem;
}
.pl9 {
  padding-left: 4.5rem;
}
.pl10 {
  padding-left: 5rem;
}
.pl11 {
  padding-left: 5.5rem;
}
.pl12 {
  padding-left: 6rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 112.5em) {
  html {
    font-size: 62.5%;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  font-size: 3rem;
}

.btn {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  color: #f9f7f6;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.btn:hover {
  transform: translateX(0.5rem) translateY(-0.5rem) scale(1.05);
}
.btn-primary {
  background-color: #c69963;
}
.btn-primary:hover {
  background-color: #B28451;
}

.home-card {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.home-card__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 0;
}
.home-card__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #c69963;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: start;
  justify-self: end;
  z-index: 1;
  margin: 1rem 1.5rem 0 0;
}
.home-card__name {
  background-color: #101d2c;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: end;
  text-transform: capitalize;
  color: #f9f7f6;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  transform: translateY(50%);
  width: 80%;
  padding: 1.25rem;
  z-index: 1;
}
.home-card__detail-grid {
  grid-column: 1/-1;
  grid-row: 2/3;
  width: 80%;
  justify-self: center;
}
.home-card__details {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(8rem, 1fr));
  align-items: center;
  margin-top: 2rem;
}
.home-card__details p {
  display: flex;
  align-items: center;
}
.home-card__details--icon {
  height: 2rem;
  width: 2rem;
  fill: #c69963;
  margin-right: 1rem;
}
.home-card .btn {
  grid-column: 1/-1;
}

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.95), rgba(16, 29, 44, 0.95)), url("../../img/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0.5rem;
  grid-column: full-start/col-end 6;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-gap: 1.5rem;
  justify-content: center;
}
@media only screen and (max-width: 56.25em) {
  .header {
    grid-row: header-start/header-end;
    grid-column: full-start/full-end;
  }
}
.header__logo {
  grid-column: 1/-1;
  justify-self: center;
}
.header__logo-img {
  height: 3rem;
}
.header .heading-1:first-letter {
  text-transform: capitalize;
}
.header .btn {
  align-self: start;
  justify-self: start;
}
.header__seenon-text {
  align-self: flex-end;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #aaa;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 3rem;
  justify-items: center;
  align-items: center;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: currentColor;
  display: block;
}
.header__seenon-text::before {
  margin-right: auto;
}
.header__seenon-text::after {
  margin-left: auto;
}
.header__seenon-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;
}
@media only screen and (max-width: 37.5em) {
  .header__seenon-logos {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
  }
}

.seenon__img {
  max-height: 2.5rem;
  max-width: 100%;
  color: #f9f7f6;
  filter: brightness(70%);
}

.nav {
  list-style: none;
  display: grid;
  grid-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  align-items: space-around;
  justify-items: center;
  margin: 10rem 5rem;
}
.nav__item {
  text-align: center;
  transition: all 0.2s;
}
.nav__item:hover {
  transform: translateX(0.5rem) translateY(-0.5rem) scale(1.05);
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-style: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #f9f7f6;
  padding: 1rem 2rem;
}
.nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
  background-color: #17293f;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  align-self: center;
}
@media only screen and (max-width: 75em) {
  .footer {
    grid-column: full-start/full-end;
    padding: 0;
  }
}

.copyright {
  font-size: 1.6rem;
  font-style: "Josefin Sans", sans-serif;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  text-align: justify;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content minmax(min-content, 40vw) repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-auto-rows: min-content;
}
@media only screen and (max-width: 75em) {
  .container {
    grid-template-rows: [sidebar-start] 6rem [sidebar-end] 80vh min-content minmax(min-content, 40vw) repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-rows: [sidebar-start] 6rem [sidebar-end header-start] 80vh [header-end realtors-start] repeat(2, min-content) [features-end story-start] repeat(5, min-content);
  }
}
.container > * {
  padding: 4rem;
  font-size: 3rem;
}

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .sidebar {
    grid-column: full-start/full-end;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 0.2rem;
  width: 4.5rem;
}
.nav-btn::before, .nav-btn::after {
  content: "";
  background-color: #fff;
  height: 0.2rem;
  width: 4.5rem;
  display: block;
}
.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.3rem);
}
.nav-btn:hover {
  cursor: pointer;
  visibility: hidden;
}
.nav-btn:hover::before {
  transform: rotate(45deg);
  transition-duration: 2s;
  visibility: visible;
  transition-timing-function: ease-out;
}
.nav-btn:hover::after {
  transform: rotate(135deg);
  transition-duration: 2s;
  visibility: visible;
}
@media only screen and (max-width: 75em) {
  .nav-btn {
    margin-top: 0;
  }
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(8, minmax(5vw, 1fr));
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.gallery__item--2 {
  grid-column: 3/span 3;
  grid-row: 1/span 3;
}
.gallery__item--3 {
  grid-column: 6/span 1;
  grid-row: 1/span 2;
}
.gallery__item--4 {
  grid-column: 7/span 2;
  grid-row: 1/span 2;
}
.gallery__item--5 {
  grid-column: 1/span 2;
  grid-row: 3/span 3;
}
.gallery__item--6 {
  grid-column: 3/span 2;
  grid-row: 4/span 2;
}
.gallery__item--7 {
  grid-column: 5/span 1;
  grid-row: 4/span 1;
}
.gallery__item--8 {
  grid-column: 6/span 2;
  grid-row: 3/span 2;
}
.gallery__item--9 {
  grid-column: 8/span 1;
  grid-row: 3/span 3;
}
.gallery__item--10 {
  grid-column: 1/span 1;
  grid-row: 6/span 2;
}
.gallery__item--11 {
  grid-column: 2/span 2;
  grid-row: 6/span 2;
}
.gallery__item--12 {
  grid-column: 4/span 1;
  grid-row: 6/span 2;
}
.gallery__item--13 {
  grid-column: 5/span 3;
  grid-row: 5/span 3;
}
.gallery__item--14 {
  grid-column: 8/span 1;
  grid-row: 6/span 2;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  display: grid;
  grid-template-rows: min-content max-content;
  grid-row-gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
@media only screen and (max-width: 56.25em) {
  .realtors {
    grid-column: full-start/full-end;
  }
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-columm-gap: 2rem;
  grid-row-gap: 5vh;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .realtors__list {
    grid-template-columns: repeat(3, min-content max-content);
    grid-column-gap: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .realtors__list {
    grid-template-columns: min-content max-content;
  }
}
.realtors__name {
  text-transform: capitalize;
}
.realtors__sold {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #aaa;
  margin-top: -0.3rem;
}
.realtors__img img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}

.features {
  grid-column: center-start/center-end;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}
@media only screen and (max-width: 75em) {
  .features {
    grid-column: full-start/full-end;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1rem;
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/-1;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
  grid-column: 2/3;
  text-align: justify;
}

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .story__pictures {
    grid-column: full-start/full-end;
  }
}
.story__img--1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
.story__img--2 {
  width: 115%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 0;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 56.25em) {
  .story__img--2 {
    width: 100%;
  }
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start;
}
@media only screen and (max-width: 56.25em) {
  .story__content {
    grid-column: full-start/full-end;
    grid-row: story-start/span 1;
  }
}
.story__content .heading-2:first-letter {
  text-transform: capitalize;
}
.story__text {
  font-size: 1.5rem;
  font-style: italic;
  text-align: justify;
}

.homes {
  grid-column: center-start/center-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .homes {
    grid-column: full-start/full-end;
  }
}

/*# sourceMappingURL=main.css.map */
