// Responsive Design Mapping
$mobile: ("mobile": (max-width: 600px))
$tab-p: ("tab-p": (min-width: 600px) and (max-width: 900px))
$tab-l: ("tab-l": (min-width: 900px) and (max-width: 1200px))
$laptop: ("laptop": (min-width: 1200px) and (max-width: 1800px))
$desktop:  ("desktop": (min-width: 1800px))

$breakpoint-choice: $mobile, $tab-p, $tab-l, $laptop, $desktop

$breakpoint-choices: (mobile: (max-width: 600px), tab-p: (min-width: 600px) and (max-width: 900px), tab-l: (min-width: 900px) and (max-width: 1200px), laptop: (min-width: 1200px) and (max-width: 1800px), desktop: (min-width: 1800px))

$spacings: ('padding'('': 8 16 32,'left': 8 16 32,'right': 8 16 32,'top': 8 16 32,'bottom': 8 16 32))
  
// COLORS:

// Light green: #7ed56f
// Medium green: #55c57a
// Dark green: #28b485
// COLORS
$color-primary: #55c57a
$color-primary-light: #7ed56f
$color-primary-dark: #28b485

$color-orange-light: #ffb900
$color-orange-dark: #ff7730

$color-blue-light: #2998ff
$color-blue-dark: #5643fa

$color-white: #fff
$color-grey-dark: #777
$color-black: #000
$color-grey-light-1: #f7f7f7
$color-grey-dark-2: #999
$color-grey-dark-3: #333


// IMAGES
$img-hero: "../img/hero.jpg"
$img-hero-small: "../img/hero-small.jpg"
$img-mountains: "../img/nat-4.jpg"
$img-sea: "../img/nat-5.jpg"
$img-forest: "../img/nat-6.jpg"
$img-snow: "../img/nat-7.jpg"
$img-girl: "../img/nat-8.jpg"
$img-boy: "../img/nat-9.jpg"
$img-lake: "../img/nat-10.jpg"

// FONT
$default-font-size: 1.6rem

// GRID
$grid-width: 95%
$gutter-vertical: 8rem
$gutter-vertical-small: 6rem
$gutter-horizontal: 6rem